  h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightseagreen;
  }
  
  p{
    color:grey;
    text-align:left;
  }

  .navbar a{
    background-color:lightseagreen;
  }

  body {
    background-color: lightgray;
  }

  .col {
    width: 100%;
    border: black 1px solid; 
  } 

  #imgsel{
    border: lightseagreen 2px solid;
  }
  